@font-face {
    font-family: Roboto;
    src: url('Roboto-Medium.ttf');
    
}
.root {
	-fx-base: derive(#1d1d1d,20%);
	-fx-background: derive(#1d1d1d,20%);
	-fx-control-inner-background:  derive(#1d1d1d,20%);
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

:focused{
 /* -fx-background-color: derive(#fb6b37, 30%) ,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1; */
}

.menu-bar .label {
    -fx-opacity: 0.9;
    -fx-padding: 2;
}
.menu-item .label {
    -fx-text-fill: white;
    -fx-border-width:0;
}

.menu-item:focused {
     -fx-background-color: derive(#1d1d1d, 30%);
      -fx-padding: 8;
      -fx-border-style: none;
      -fx-border-width:0; 
}

.menu-item:focused .label {
	   -fx-border-style: none;
    -fx-border-width:0;
     -fx-padding: 0; 
}

.context-menu {

    -fx-border-style: none;
    -fx-border-width:0;
    -fx-background-insets: 0, 1, 2;

    -fx-padding: 2;
}


.task{
	-fx-padding-left:100;
	-fx-margin-left:100;
	-fx-background-color:  derive(#1d1d1d, 25%);
    -fx-background-repeat: no-repeat;   
    -fx-background-position:  left center;
    -fx-border-color:  derive(#1d1d1d,40%);
    -fx-border-width: 1;
    -fx-border-style: solid;
	-fx-opacity: 0.9;
	-fx-text-fill: #f0ffff;
	-fx-font-size: 13pt;
	-fx-font-family: "Segoe UI Light";
}

.time-label{
	-fx-text-fill: #b8860b;
}
.label, .text-flow{
	-fx-fill: azure;
}
#projectNameLabel{
    -fx-text-fill: cornsilk;
}

.task.selected{
	-fx-background-color:  derive(#1d1d1d,10%);
}
.task:hover {
    -fx-background-color:  derive(#1d1d1d,40%);
}

.priority{
    -fx-background-color:  #3d8fc9;
 }

.priority.priority-0{
    -fx-background-color: #e2edcc;
}
.priority.priority-1{
    -fx-background-color:  #bdfb37;
}
.priority.priority-4{
   -fx-background-color:  #fbe637;
}
.priority.priority-5{
    -fx-background-color:  #e93340;
}

.link{
    -fx-background-color: green;
}
.title{
	-fx-text-fill: cornsilk;
	
}

.hyperlink{
	-fx-text-fill: #3d8fc9;
	-fx-font-size: 12pt;
}
.hyperlink:visited{
	-fx-text-fill: #3d8fc9;
}

.vbox{ 
	-fx-background-color:  derive(#1d1d1d,2%); 

}

.scroll-pane, .button{
	-fx-focus-color: transparent;
}
#startStopTaskButton{
	   -fx-background-image: url("../images/icons.png");
	   -fx-background-position: 78 448;
}
#startStopTaskButton.stop{
    -fx-background-image: url("../images/icons.png");
	-fx-background-position: 151 520;
}
#finishTaskButton{
    -fx-background-image: url("../images/icons.png");
	-fx-background-position: 78 520;
}

#taskTimeLabel{
    -fx-font-family: "digital-7";
	-fx-font-size: 34pt;
	-fx-text-fill: #b8860b;
}

.tab{
    -fx-focus-color:  derive(#1d1d1d,80%);
        -fx-opacity: 0.9;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #565656;
}
.chart-vertical-grid-lines {
    -fx-stroke: #444444;
}
